<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t('application.name'), root_path, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <% if current_user.has_role?(:admin) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('administration.administration') %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to t('administration.users'), admin_users_path %></li>
                  </ul>
                </li>
            <% end %>
            <li><%= link_to t('redirections.redirections'), redirections_path %></li>
            <li class="divider-vertical"></li>
            <%= render 'menus/my_account', :user => current_user, :my_account_path => users_path, :gravatar_url =>  current_user.gravatar_url(:size => 20) %>
        <% else %>
            <%= render 'devise/menu/login_items' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>