<%- listen ||= false -%>
<%- listen_https ||= false -%>
<%- listen_http ||= false -%>
<%- if listen -%>
<%- if URI.parse(redirection.from_url).kind_of?(URI::HTTPS) -%>
        <%- listen_on = (listen_https ? listen_https : (listen_http ? listen_http : listen))  -%>
<%- elsif URI.parse(redirection.from_url).kind_of?(URI::HTTP) -%>
        <%- listen_on = listen_http ? listen_http :  listen  -%>
<% end %>
<VirtualHost <%= listen_on %>>
<% end %>
<%= listen_on ? "\t" : '' %>ServerName <%= redirection.from_url.gsub(/^https?\:\/\/(www.)?/,'') %>

<%- if redirection.from_path -%>
<%= listen_on ? "\t" : '' %>RewriteCond %{REQUEST_URI} ^.*<%= redirection.from_path %>.*$
<%- end -%>
<%- if redirection.from_query -%>
<%= listen_on ? "\t" : '' %>RewriteCond "%{QUERY_STRING}" "<%= redirection.from_query %>"
<%- end -%>
<%= listen_on ? "\t" : '' %>Redirect <%= redirection.redirection_type_hash[:status_code] %> <%= redirection.to_url %>
<%- if listen -%>
</VirtualHost>
<% end %>