<%= form_for(@redirection) do |f| %>
  <% if @redirection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@redirection.errors.count, "error") %> prohibited this redirection from being saved:</h2>

      <ul>
      <% @redirection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <h3><%= t('redirections.from_parameters') %></h3>
  <div class="field">
    <%= f.label :from_url %><br>
    <%= f.text_field :from_url %>
  </div>
  <div class="field">
    <%= f.label :from_path %><br>
    <%= f.text_field :from_path %>
  </div>
  <div class="field">
    <%= f.label :from_query %><br>
    <%= f.text_field :from_query %>
  </div>
    <p></p>
    <p></p>
  </div>
  <div>
  <h3><%= t('redirections.to_parameters') %></h3>
  <div class="field">
    <%= f.label :to_url %><br>
    <%= f.text_field :to_url %>
  </div>
  <div class="field">
    <%= f.label :to_path %><br>
    <%= f.text_field :to_path %>
  </div>
  <div class="field">
    <%= f.label :redirect_to_query %><br>
    <%= f.text_field :redirect_to_query %>
  </div>
    <p></p>
    <p></p>
  </div>
  <div>
  <h3><%= t('redirections.general_parameters') %></h3>
  <div class="field">
    <%= f.label :ignore_user_path, t('redirections.ignore_user_path') %><br>
    <%= f.check_box :ignore_user_path %>
  </div>
  <div class="field">
    <%= f.label :ignore_user_query, t('redirections.ignore_user_query') %><br>
    <%= f.check_box :ignore_user_query %>
  </div>
  <div class="field">
    <%= f.label :redirection_type, t('redirections.type') %><br />
    <%= f.select :redirection_type, options_for_select(redirection_types_collection.collect {|p| [ p[:description], p[:key] ] }, (@redirection.redirection_type.nil? ? Redirection::REDIRECTION_TYPES[:default].to_s : @redirection.redirection_type ))  %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
