<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('redirections.from_url') %></th>
    <th><%= t('redirections.to_url') %></th>
    <th><%= t('users.creator') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% redirections.each do |redirection| %>
      <tr>
        <td><%= redirection.from_url %></td>
        <td><%= redirection.to_url %></td>
        <td><%= redirection.user.full_name %></td>
        <td>
          <%= link_to t('general.show'), redirection %>
          <%= link_to t('general.edit'), edit_redirection_path(redirection) if can? :edit, Redirection %>
          <%= link_to t('general.destroy'), redirection, method: :delete, data: { confirm: t('general.are_you_sure')} if can? :destroy, Redirection %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>