<h1><%= t('general.listing') % t('redirections.redirection') %>
  <span class='actions'>
        <% if can? :create, Redirection  %>
          <%= link_to 'New', new_redirection_path, :id => 'new_redirection_link' %>
        <% end  %>
    </span>
</h1>
<%= render 'redirections/redirections', :redirections => @redirections %>
<br />
<br />
<div>
  <%= "#{t('general.download')} #{t('redirections.configuration.configuration')}" %>: <%= link_to t('redirections.configuration.apache'), redirections_path(format: 'text', text_type: :apache), :target => '_blank' %> <%= link_to 'CSV', redirections_path(format: 'csv') %>
</div>