<h1><%= t('redirections.redirection') %>: <%= "#{@redirection.from_url} -> #{@redirection.to_url}" %></h1>
<div>
  <h3><%= t('redirections.from_parameters') %></h3>
  <strong><%= t('redirections.from_url') %>:</strong>
  <%= @redirection.from_url %><br />
  <strong><%= t('redirections.from_path') %>:</strong>
  <%= @redirection.from_path %><br />
  <strong><%= t('redirections.from_query') %>:</strong>
  <%= @redirection.from_query %><br />
</div>
<div>
<h3><%= t('redirections.to_parameters') %></h3>
<strong><%= t('redirections.to_url') %>:</strong>
<%= @redirection.to_url %><br />
<strong><%= t('redirections.to_path') %>:</strong>
<%= @redirection.to_path %><br />
<strong><%= t('redirections.to_query') %>:</strong>
<%= @redirection.redirect_to_query %><br />
</div>

<div>
<h3><%= t('redirections.general_parameters') %></h3>
  <strong><%= t('redirections.ignore_user_path') %>:</strong>
  <%= @redirection.ignore_user_path %><br />

  <strong><%= t('redirections.ignore_user_query') %>:</strong>
  <%= @redirection.ignore_user_query %><br />

  <strong><%= t('redirections.full_url') %>:</strong>
  <%= link_to @redirection.build_url, @redirection.build_url %><br />

  <strong><%= t('redirections.redirection_type') %>:</strong>
  <%= redirection_type_to_s(@redirection.redirection_type) %>
</div>
<br />
<br />
<div>
  <%= "#{t('general.download')} #{t('redirections.configuration.configuration')}" %>: <%= link_to t('redirections.configuration.apache'), redirection_path(@redirection, format: 'text', text_type: :apache), :target => '_blank' %>
</div>
<br />
<%= link_to 'Edit', edit_redirection_path(@redirection) %> |
<%= link_to 'Back', redirections_path %>
