<tr>
  <td><%= link_to api_key.application_name, users_api_key_path(api_key) %></td>
  <td><%= api_key.application_url %></td>
  <td><%= api_key.key %></td>
  <td>
    <%= link_to t('general.edit'), edit_users_api_key_path(api_key) if can? :edit, APIKey %>
    <%= link_to t('general.destroy'), users_api_key_path(api_key), method: :delete, data: { confirm: t('general.are_you_sure')} if can? :destroy, APIKey %>
  </td>
</tr>