<h1><%= @api_key.application_name %></h1>

<p>
  <strong>Key:</strong>
  <%= @api_key.key %>
</p>
<p>
  <strong>Application url:</strong>
  <%= @api_key.application_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @api_key.description %>
</p>
<br />
<br />
<%= link_to t('general.back'), users_api_keys_path %>
<% if can?(:edit, APIKey) %>
    | <%= link_to 'Edit', edit_users_api_key_path(@api_key) %>
<% end %>